# chezmoi 全局配置
[git]
    autoCommit = false
    autoPush = false

[keep]
    dirs = [".chezmoi", ".git"]

# 按机器自定义数据
[data]
    # 校园网内机器才需要代理
    proxy_enabled = {{ if or (eq .chezmoi.hostname "lab24") (eq .chezmoi.hostname "lab148") (eq .chezmoi.hostname "gpu-public") (eq .chezmoi.hostname "ps") (eq .chezmoi.hostname "DESKTOP-KNUNJ5V") }}true{{ else }}false{{ end }}

{{ if eq .chezmoi.os "windows" -}}
# Windows 用 VS Code 编辑
[edit]
    command = "code"
    args = ["--wait"]

# Windows 上用 bash 执行 .sh 脚本
[interpreters]
    [interpreters.sh]
    command = "bash"
{{ else -}}
# Linux 用 neovim
[edit]
    command = "nvim"
{{ end -}}
